##### GENERAL CONFIGURATION VALUES #####
#
# DeathPenalties plugin configuration
# For more information and/or support visit: https://www.spigotmc.org/resources/deathpenalties.58944/
#
##### PER WORLD CONFIGURATION VALUES #####
#
# you can add worlds here to set per world custom values
# if a world is not added here default values will be used instead
# if an option is missing it will be set to its default value
# be careful to respect the format otherwise the plugin will ignore it
#
# for flat values if value <= 0 percentage value is used instead
# percentage values are ignored if you have set a flat value > 0
#
# for inventory values destroyed and dropped values can both be done on player death
#
#example_world:
#  enabled: true
#  # if enabled death penalties will be applied
#
#  respawn-health-flat: 0.0
#  # health penalised player will respawn with
#
#  respawn-food-flat: 0
#  # food penalised player will respawn with (integer numbers)
#
#  death-money-lost-flat: 10.0
#  # money penalised player will lose on death
#
#  death-items-dropped-flat: 1 (integer numbers)
#  # items that will be dropped from penalised player inventory on death
#  # this option only works if keepInventory gamerule is set to true
#
#  death-items-destroyed-flat: 1 (integer numbers)
#  # items that will be destroyed in penalised player inventory on death
#  # this option still applies before the drop option if keepInventory gamerule is set to true
#
#  respawn-health-percentage: 0.21
#  # health penalised player will respawn with in percentage (0.21 is 21 percents)
#
#  respawn-health-chance-percentage: 1.0
#  # the chance a penalised player health will be set on respawn (1.0 is 100 percents)
#
#  respawn-food-percentage: 0.4
#  # food penalised player will respawn with in percentage
#
#  respawn-food-chance-percentage: 1.0
#  # the chance a penalised player food will be set on respawn (1.0 is 100 percents)
#
#  death-money-lost-percentage: 0.01
#  # money penalised player will lose on death in percentage
#
#  death-money-lost-chance-percentage: 1.0
#  # the chance a penalised player will lose money on death (1.0 is 100 percents)
#
#  death-money-lost-bank-account: 'example_account'
#  # the account the lost money with penalties is going to
#
#  death-money-lost-killer: false
#  # if true money lost by the penalty will be added to the killer (money is doubled if a bank account is set too)
#
#  death-items-dropped-percentage: 0.05
#  # items that will be dropped from penalised player inventory on death in percentage
#
#  death-items-dropped-chance-percentage: 0.5
#  # chance that items will be dropped from penalised player inventory on death in percentage
#
#  death-items-destroyed-percentage: 0.05
#  # items that will be destroyed in penalised player inventory on death in percentage
#
#  death-items-destroyed-chance-percentage: 0.5
#  # chance that items will be destroyed in penalised player inventory on death in percentage
#
#  death-experience-dropped-flat: 10.0
#  # experience that will be dropped from penalised player inventory on death
#  # this option only works if keepInventory gamerule is set to true
#
#  death-experience-dropped-percentage: 0.1
#  # experience that will be dropped from penalised player inventory on death in percentage
#
#  death-experience-dropped-chance-percentage: 0.5
#  # chance that experience will be dropped from penalised player inventory on death in percentage
#
#  death-experience-destroyed-flat: 10.0
#  # experience that will be destroyed from penalised player inventory on death
#
#  death-experience-destroyed-percentage: 0.1
#  # experience that will be destroyed from penalised player inventory on death in percentage
#
#  death-experience-destroyed-chance-percentage: 0.5
#  # chance that experience will be destroyed from penalised player inventory on death in percentage
#
#  death-levels-destroyed-flat: 1 (integer numbers)
#  # levels that will be destroyed from penalised player inventory on death
#
#  death-levels-destroyed-percentage: 0.05
#  # levels that will be destroyed from penalised player inventory on death in percentage
#
#  death-levels-destroyed-chance-percentage: 0.5
#  # chance that levels will be destroyed from penalised player inventory on death in percentage
#
#  whitelisted-items:
#    - DIAMOND_PICKAXE
#    - DIAMOND_SWORD
#    - DIAMOND_HELMET
#    - DIAMOND_CHESTPLATE
#    - DIAMOND_LEGGINGS
#    - DIAMOND_BOOTS
#  # items type that will be ignored by the destroy/drop items options
#  # warning do not forget that if you create a world specific whitelist the default one will be overwritten!
#  # the list of materials that can be used can be found here:
#  # https://hub.spigotmc.org/javadocs/spigot/org/bukkit/Material.html
#
#  respawn-processed-commands:
#    - SERVER;effect give %player% minecraft:slowness 30 0 true
#  # commands that will be processed when the player respawns
#  # command format is EXECUTER_TYPE;COMMAND executer type can be [SERVER/PLAYER]
#  # warning do not add the / before the command! Older versions commands are valid too
#  # %player% can be used and represents the player name
#  # for example this command will apply the slowness potion effect for 30s when the player respawns
#
#  death-processed-commands:
#    - SERVER;execute at %player% run summon minecraft:zombie
#  # commands that will be processed when the player dies
#  # for example this command will spawn a zombie at the player death location when he dies
#
#
#
# values below are examples of use and for testing purpose replace it by your own !
#
# !!!!! IF AN OPTION IS NOT WORKING MAKE SURE THAT YOU HAVE A VALUE SET FOR IT !!!!!
# if you have set a value for each option in default values you do not have to care about it in other ones

bypass-op-permission: true
# this option is used for op testing purposes
# set it to true if you want op players to be affected by penalties

default_values:
  enabled: true
  respawn-health-percentage: 0.5
  respawn-health-chance-percentage: 1.0
  respawn-food-flat: 16
  respawn-food-chance-percentage: 1.0
  death-money-lost-flat: 10
  death-money-lost-chance-percentage: 1.0
  death-money-lost-bank-account: ''
  death-money-lost-killer: false
  death-items-dropped-percentage: 0.25
  death-items-dropped-chance-percentage: 0.5
  death-items-destroyed-flat: 2
  death-items-destroyed-chance-percentage: 0.5
  death-experience-dropped-flat: 10
  death-experience-dropped-percentage: 0.1
  death-experience-dropped-chance-percentage: 0.5
  death-experience-destroyed-flat: 10
  death-experience-destroyed-percentage: 0.1
  death-experience-destroyed-chance-percentage: 0.5
  death-levels-destroyed-flat: 1
  death-levels-destroyed-percentage: 0.05
  death-levels-destroyed-chance-percentage: 0.5
  whitelisted-items:
    - DIAMOND_PICKAXE
    - DIAMOND_SWORD
    - DIAMOND_HELMET
    - DIAMOND_CHESTPLATE
    - DIAMOND_LEGGINGS
    - DIAMOND_BOOTS
  respawn-processed-commands:
    - SERVER;effect give %player% minecraft:slowness 30 0 true
    - SERVER;effect give %player% minecraft:mining_fatigue 60 0 true
    - SERVER;effect give %player% minecraft:weakness 120 0 true
  death-processed-commands:
    - SERVER;execute at %player% run summon minecraft:zombie
world_nether:
  enabled: true
  respawn-health-flat: 4
  respawn-food-percentage: 0.5
  death-money-lost-percentage: 0.01
  death-items-dropped-chance-percentage: 1.0
  death-items-destroyed-percentage: 0.25
  respawn-processed-commands:
    - SERVER;effect give %player% minecraft:slowness 60 1 true
    - SERVER;effect give %player% minecraft:mining_fatigue 90 1 true
    - SERVER;effect give %player% minecraft:weakness 180 1 true
world_the_end:
  enabled: true
  respawn-food-flat: 2
  respawn-health-percentage: 0.05
  death-items-dropped-chance-percentage: 1.0
  death-items-destroyed-chance-percentage: 1.0
  respawn-processed-commands:
    - SERVER;effect give %player% minecraft:slowness 100 1 true
    - SERVER;effect give %player% minecraft:mining_fatigue 150 2 true
    - SERVER;effect give %player% minecraft:weakness 200 2 true
world_creative:
  enabled: false